.header {
  background-color: #FCFC30;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.nav-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.nav-buttons button {
  padding: 10px 20px;
  border: 2px black;
  background-color: white;
  color: black;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
  background-color: #74ade9;
}

@media (max-width: 600px) {
  .nav-buttons {
    flex-direction: column;
    align-items: center;
  }
}
